<div class="ui-password">
  <input
    class="ui-password__input"
    id="ui-password"
    [type]="passwordType"
    [formControl]="control"
    required
  />
  <button class="ui-password__btn" type="button" (click)="changePasswordType()">
    <img
      [ngSrc]="
        passwordType === 'password' ? 'assets/img/IconEyeClosed.png' : 'assets/img/IconEyeOpen.png'
      "
      height="16"
      width="16"
    />
  </button>
</div>
@if (control.invalid && control.touched) {
  @if (control.errors?.['required']) {
    <ui-label>Поле обязательно к заполнению</ui-label>
  }
  @if (control.errors?.['minlength']) {
    <ui-label>Минимум 6 символов</ui-label>
  }
}
