.ui-input {
  width: 100%;
  padding: 10px;

  font-size: 16px;

  background-color: var(--color-secondary);
  border: 1px solid #ccc;
  border-radius: 5px;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }

  &::placeholder {
    color: #999;
  }
}
