<nav>
  <div
    class="logo"
    [ngClass]="{
      'logo--show': isFullSize,
      'logo--hide': !isFullSize
    }"
  >
    <div
      class="logo__header"
      [ngClass]="isFullSize ? 'logo__header__open' : 'logo__header__closed'"
      (click)="handleSizeButtonClick(!isFullSize)"
    >
      <span class="logo__name">Ticket</span> <br />
      <span class="logo__services">manager</span>
    </div>
    <ui-svg
      class="logo__arrow"
      src="assets/icons/navbarArrow.svg"
      [ngClass]="isFullSize ? 'logo__arrow__open' : 'logo__arrow__closed'"
      (click)="handleSizeButtonClick(!isFullSize)"
    ></ui-svg>
  </div>
  <div
    class="navbar"
    [ngClass]="{
      'navbar--show': isFullSize,
      'navbar--hide': !isFullSize
    }"
  >
    @for (link of navLinks; track $index) {
      <a
        class="navbar__element"
        routerLink="{{ link.path }}"
        routerLinkActive
        #rla="routerLinkActive"
        [ngClass]="{
          'navbar__element--active': rla.isActive,
          'navbar__element--default': !rla.isActive
        }"
      >
        <img [src]="'assets/icons/navbar/' + link.icon" />
        <span>{{ link.name }}</span>
      </a>
    }
  </div>
</nav>
