<div class="login full-screen">
  <div class="login__content">
    <div class="login__content__title">
      <h1>
        <span [ngClass]="{ 'login__content__title-active': isLogin }" (click)="changeLogin(true)"
          >Вход</span
        >
        /
        <span [ngClass]="{ 'login__content__title-active': !isLogin }" (click)="changeLogin(false)"
          >Регистрация</span
        >
      </h1>
    </div>
    <form class="login__content__form" [formGroup]="formLogin">
      <input placeholder="Логин" />
      <ui-password [control]="formLogin.controls.password" />
      <button [disabled]="formLogin.invalid">{{ isLogin ? 'Войти' : 'Зарегистрироваться' }}</button>
    </form>
  </div>
</div>
