.login {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-rows: 40% auto;

    width: 100%;
    max-width: 637px;
    height: 100%;
    max-height: 494px;
    margin-right: -50%;

    background-color: white;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
    transform: translate(-50%, -50%);

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-auxiliary);
      font-weight: 500;
      font-size: var(--fs-xxl);

      &-active {
        color: var(--color-primary) !important;

        transition: all 0.7s ease-out;
      }

      button {
        color: var(--color-auxiliary);

        font-weight: 500;
        font-size: var(--fs-xxl);

        background: none;
        border: none;
        cursor: pointer;

        &:first-child {
          margin-right: 8px;
        }

        &:last-child {
          margin-left: 8px;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: var(--padding-m);
      width: 310px;
      margin: 0 auto;
    }
  }
}

.button-main {
  margin-top: var(--padding-s);
}
